<ion-view  class="wrapper">
  

    <ion-content  >  
     <div style="margin-top: 100px;height: auto; " class=" eventsDiv ">
       <h3  class="eventsP" style="width: 200px;  margin:0 auto; margin-top: -15px; ">  {{title}}</p>
    </div>
    <div class="list list-inset eventsItem" style="margin-top: -10px; margin-left: 0px; margin-right: 0px  "> 
        
      <div class="leftBorder"  >
          <p class="day">{{ date.slice(-2)}} </p>
          <p class="monyear"> {{date.substring(0, 7);}}</p>
        </div>
        <div  style="height: auto;width: auto; word-wrap: break-word;padding-right: 50px;">
          <p class="hour">18:00 </p> 
        </div>
      <div class="rightBorder ">
  <button class="favorit-button" ng-if="  favorit !=1" style="  z-index:99999;" ng-click="addFavorit(event['id'],event['favorit']) ">
        <img src="img/favorit.png" style="margin-top: 5px;margin-left: -2px;" class="favorit_icon" >    
        <p style="margin-top: 10px; margin-left: -3px;padding-left: 6px;
    font-size: 9px;  overflow: visible;  ">Add to favorites</p>  
        </button>
          <button class="favorit-button" ng-if=" favorit ==1" style="  z-index:99999;" ng-click="addFavorit(event['id'],event['favorit']) ">
        <img src="img/empty_favorit.png" style=" width: 20px;height: 20px;margin-left: -1px;"  class="favorit_icon">    
        <p style="margin-top: 5px; margin-left: -7px;padding-left: 6px;
    font-size: 9px;  overflow: visible;  ">Remove from favorite</p>  
        </button>

         
        
      </div>
    </div>
          <p style="margin: 10px;">
            {{description}}
         </p>
        
  </ion-content>
</ion-view>
