<ion-view  class="wrapper">
   <div style="margin-top: 100px;" class="bar bar-header eventsDiv ">
       <h3  class="eventsP" style="width: 200px; margin:0 auto; padding-top: 7px;"> My favorites </p>
    </div>

  <ion-content cache-view="true" style="margin-top: 100px;"> 
    <a ng-repeat="event in favoriti"  ui-sref="app.detail({eventId:{{event['id']}}})">
    <div class="list list-inset eventsItem"> 
        
      <div class="leftBorder">
        <p class="day">15. </p>
        <p class="monyear">06.2017.</p>
      </div>
       <p class="hour">18:00 </p>
        <p class="title">{{event["title"]}}</p>
         <p class="title" ng-if="event['title']==null">FISHERSMES FESTIVITIES </p>
      <div class="rightBorder">
         <button class="favorit-button" ng-if="event['id']!='185'"  style=""  ng-click=" addSettings() " >
        <img src="img/settings.png" style="margin-left: 20px"  class="favorit_icon">    
        <p style="margin-top: 5px; margin-left: 11px;padding-left: 6px;
    font-size: 9px;  overflow: visible;  ">Settings</p>  
        </button>
        
        
      </div>
    </div>
    </a>
  </ion-content>
</ion-view>
