<ion-view  >
     <ion-header-bar title="DOGAĐANJA"   class=" mynavbar">
 
     <button  style="background-color: transparent;border: 0px;width: 400px;margin-left: 12px;"  menu-toggle="left">
       <img class="title-image img" src="img/menu-icon.jpg" width="145px;" height="45"  style="width: 31px;height: 31px;margin-top: 7px;
       " /> 
       </button> 
         <button ui-sref="app.notifications"  style="background-color: transparent;border: 0px;float: right"   >
       <img class="title-image img" src="img/bell.png" width="145px;" height="45"  style="width: 31px;height: 31px;margin-top: 7px;
       " /> 
       </button> 
        <button ui-sref="app.favorites" style="background-color: transparent;border: 0px;float: right"  >
       <img class="title-image img" src="img/heart-white.png" width="145px;" height="45"  style="width: 31px;height: 31px;margin-top: 7px;
       " /> 
       </button> 
        <p style="color:white;font-size: 22px;margin-top: 26px;left: 70px;position: absolute"> {{"events" | translate}}</p>
    </ion-header-bar>
  <ion-content style="background-color: #D6D6D6"> 

    <a ng-repeat="event in events"   >
      <div ng-click="go(event['id'])" style="height: 300px;width:100%; position:relative;"> 
        <img  src="http://appeventnet.com/images/medium/{{event['images'][0]}}" ng-if="event['images'][0]!=null" style="height: 300px;width:100%;position: absolute" />
         <img   ng-if="event['images'][0]==null" style="height: 300px;width:100%;position: absolute;background: rgba(39,109,230,1);
background: -moz-linear-gradient(left, rgba(39,109,230,1) 30%, rgba(39,109,230,1) 38%, rgba(57,207,245,1) 64%, rgba(57,207,245,1) 74%);
background: -webkit-gradient(left top, right top, color-stop(30%, rgba(39,109,230,1)), color-stop(38%, rgba(39,109,230,1)), color-stop(64%, rgba(57,207,245,1)), color-stop(74%, rgba(57,207,245,1)));
background: -webkit-linear-gradient(left, rgba(39,109,230,1) 30%, rgba(39,109,230,1) 38%, rgba(57,207,245,1) 64%, rgba(57,207,245,1) 74%);
background: -o-linear-gradient(left, rgba(39,109,230,1) 30%, rgba(39,109,230,1) 38%, rgba(57,207,245,1) 64%, rgba(57,207,245,1) 74%);
background: -ms-linear-gradient(left, rgba(39,109,230,1) 30%, rgba(39,109,230,1) 38%, rgba(57,207,245,1) 64%, rgba(57,207,245,1) 74%);
background: linear-gradient(to right, rgba(39,109,230,1) 30%, rgba(39,109,230,1) 38%, rgba(57,207,245,1) 64%, rgba(57,207,245,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276de6', endColorstr='#39cff5', GradientType=1 );" />
       
        <br/>
        <div class="mjesto" style="margin-top:60px;position: absolute"  > 
         <p style="color:white;font-size: 20px;text-align: center;padding-top: 7px;margin-left: 39px;position: absolute"> Sukošan</p> 
        </div><br/> 
        
         <p style="color:white;font-size:20px; margin-left: 40px; margin-top: 90px;font-weight: bold;position: absolute">{{event["title"].substring(0,54)}}</p> 
 
               <img   style="height: 30px;width: 30px;margin-left: 40px; margin-top: 160px;position: absolute " src="img/calendar.png" title="original">
      
          <p style="color:white;font-size:15px; font-weight: bold;margin-left: 80px; margin-top: 165px;position: absolute"> {{event['date']}}
          </p>
            <img   style="height: 30px;width: 30px;margin-left: 40px; margin-top: 200px;position: absolute " src="img/location.png" title="original">
          <p style="color:white;font-size:15px;margin-left: 80px; margin-top: 200px; font-weight: bold;padding-top:4px;position: absolute "> {{event['address']}} 
          </p>
      </div>
    <div  style="margin-left: 20px;margin-right: 20px;height:auto;background-color: white;border-radius: 3px;text-align:center; padding: 0px 10px;font-size: 12px;
   line-height: 20px;
   overflow: hidden;word-wrap: break-word;height: 93px;
">
 <div ng-if="event['favorit']==1" style=" width: 60px;height: 80px;display: inline-block;text-align: center; ">
    <img ng-click="addFavorits({{event['id']}})"     style="height: 29px;width: 32px;display: block;margin: 0 auto;margin-top: 12px;margin-left: 10px  " src="img/save.png" title="original"> 
                       <p    style=" color: grey;width:60px; position: absolute;margin-top: 0px ;text-align: center;margin-top: 47px  ">{{"save" | translate}}</p>
      </div>

      <div ng-if="event['favorit']==2" style=" width: 60px;height: 80px;display: inline-block;text-align: center; ">
    <img ng-click="remove({{event['id']}})"     style="height: 27px;width: 27px;display: block;margin: 0 auto;margin-top: 13px;margin-left:14px  "  src="img/remove.png" title="original"> 
                       <p    style=" color: grey;width:60px; position: absolute;margin-top: 0px ;text-align: center;margin-top: 47px  ">{{"remove" | translate}}</p>
      </div>
 

     <div ng-click="addFavorit({{event['id']}})"  style="width: 60px;height: 80px;display: inline-block;text-align: center;overflow: hidden;word-wrap: break-word">
         <img       style="height: 37px;width: 34px;display: block;margin: 0 auto;margin-top: 5px; margin-left: 12px " src="img/remind.png" title="original"> 
     <p    style=" color: grey;width:60px; position: absolute;margin-top: 10px ;text-align: center;margin-top: 47px  ">{{"remind" | translate}}</p>
      </div>

        <div ng-click="shareViaFacebook({{ event['link']}})"  style="width: 64px;height: 80px;display: inline-block;text-align: center;overflow: hidden">
         <img       style="height: 37px;width: 34px;display: block;margin: 0 auto;margin-top: 10px; margin-left: 15px " src="img/share.png" title="original"> 
     <p    style=" color: grey;width:64px; position: absolute;margin-top: 6px ;text-align: center;margin-top: 47px  ">{{"Share" | translate}}</p>
      </div>


    <div  ng-click="showMapPath({{event['latitude']}},{{event['longitude']}})" style="width: 60px;height: 80px;display: inline-block;text-align: center;overflow: hidden">
         <img       style="height: 37px;width: 38px;display: block;margin: 0 auto;margin-top: 12px; margin-left: 13px " src="img/navi.png" title="original"> 
     <p    style=" color: grey;width:60px; position: absolute;margin-top: 6px ;text-align: center;margin-top: 48px   ">Navi</p> 
     
      </div>

  
      </div>
       <br>
    </a> 

    <br><br><br>
  </ion-content>
</ion-view>