<ion-view class="wrapper" ng-controller="EventsCtrl">
 
  <ion-content style="background-color: grey"> 

    <a ng-repeat="event in events" >
      <div ng-click="go(event['id'])" style="background-image: url('img/festice.jpg');height: 300px;width:100%">
        <br/>
        <div class="mjesto" style="margin-top:60px;"  > 
         <p style="color:white;font-size: 20px;text-align: center;padding-top: 7px"> Sukošan</p> 
        </div><br/> 
        
         <p style="color:white;font-size:20px; margin-left: 40px;font-weight: bold">{{event["title"]}}</p> 

          <img   style="height: 30px;width: 30px;margin-left: 40px   " src="img/calendar.png" title="original">
          <p style="color:white;font-size:15px; font-weight: bold"> {{event['date'].substring(0, 7);}}
          </p>
            <img   style="height: 30px;width: 30px;margin-left: 40px;  " src="img/location.png" title="original">
          <p style="color:white;font-size:15px; font-weight: bold;padding-top:4px "> {{event['location']}}
          </p>
      </div>
      <div  style="margin-left: 20px;margin-right: 20px;height: 80px;background-color: white;border-radius: 3px;;
">

        <div style=" display:inline-block;height: 80px;width: 73px">
           <img   style="height: 33px;width: 40px; margin-left: 30px;margin-top: 15px;  " src="img/save.png" title="original"><br><br/> 
           <p style="margin-left: 35px;color: grey; position: absolute;margin-top: 10px ">Save</p>
        </div>

   <div style=" display:inline-block;height: 80px;width: 73px">
           <img   style="height: 33px;width: 40px; margin-left: 30px;margin-top: 15px;  " src="img/remind.png" title="original"><br><br/> 
           <p style="margin-left: 15px;color: grey; position: absolute;margin-top: 10px ">Remind me</p>
        </div>

   <div style=" display:inline-block;height: 80px;width: 73px">
           <img   style="height: 33px;width: 40px; margin-left: 30px;margin-top: 15px;  " src="img/share.png" title="original"><br><br/> 
           <p style="margin-left: 35px;color: grey; position: absolute;margin-top: 10px ">Share</p>
        </div>

   <div style=" display:inline-block;height: 80px;width: 73px">
           <img   style="height: 33px;width: 40px; margin-left: 30px;margin-top: 15px;  " src="img/navi.png" title="original"><br><br/> 
           <p style="margin-left: 35px;color: grey; position: absolute;margin-top: 10px ">Navi</p>
        </div>


      </div>
    </a>
  </ion-content>
</ion-view>