<ion-view style="height: 220px;background-color: dodgerblue;">
    <ion-content  style="margin-top: -40px;"  scroll="false"> 
        <img src="img/favorit.png" ng-if="favorit==2" style=" margin-top:20px; margin-left: 27px;" class="favorit_icon">  
        <img src="img/empty_favorit.png" ng-if="favorit==1" style=" margin-top:20px; margin-left: 23px;" class="favorit_icon">      
        <p class="exit_text"  ng-if="favorit==2" style="padding-top:-5px; ">Add to my favorites </p>
        <p class="exit_text" ng-if="favorit==1" style="padding-top:-5px; ">Remove from favorites </p>
        <button ng-click="add()" ng-if="favorit==2" style="margin-top:50px;" class="exit_button1"> YES</button>
        <button ng-click="remove()" ng-if="favorit==1" style="margin-top:50px;" class="exit_button1"> YES</button>
        <button ng-click="cancel()" class="exit_button"> NO</button>
        <br>
    </ion-content>
     </ion-view>