<ion-view ng-controller="EventsCtrl" ng-controller="EventsDetailCtrl" ng-controller="FavoritesCtrl" style="margin-top: -100px;height: 220px;background-color: transparent; border-radius: 5px;overflow: visible;margin-left:-10px;text-align: center  ">
    
    <div style="  background-color:#F7F7F7;height: auto;width: 270px;margin-top: -30px;overflow: visible;border-radius: 10px"    scroll="false">
         <div style="height: 80px;width: 80px;border-radius: 50%;background-color: white ; margin-left:96px; ;margin-top: -30px;overflow: hidden;position: absolute">
                <img   style="height: 45px;width: 50px; margin-left: 12px;margin-top: 14px;  " src="img/remind.png" title="original"><br>      
         </div><br><br>   <br> 
             <p style="color: grey;  margin-top: 10px ; font-size: 17px;font-weight: bold"> {{"remind" | translate}} </p><br><br> 
             <input  ng-model="hour" id="hour" name="hour" style="height: 80px; width: 100px;font-size: 40px;border-radius: 10px;border: 1px solid black"/><br>
             <p style="color: grey;  margin-top: 10px ;font-weight: bold"> {{"enter" | translate}} </p> <br><br> 
             <a   ng-click="addNotification(2)" style="margin-left: 4px" class="myButton"> {{"setnot" | translate}} </a><br><br> 
        </div>
    </div>
     </ion-view>