<ion-view  >
       <ion-header-bar title="DOGAĐANJA"   class=" mynavbar">
 
     <button  style="background-color: transparent;border: 0px;width: 400px;margin-left: 12px;"  menu-toggle="left">
       <img class="title-image img" src="img/menu-icon.jpg" width="145px;" height="45"  style="width: 31px;height: 31px;margin-top: 7px;
       " /> 
       </button> 
         <button ui-sref="app.notifications"  style="background-color: transparent;border: 0px;float: right"   >
       <img class="title-image img" src="img/bell.png" width="145px;" height="45"  style="width: 31px;height: 31px;margin-top: 7px;
       " /> 
       </button> 
        <button ui-sref="app.favorites" style="background-color: transparent;border: 0px;float: right"  >
       <img class="title-image img" src="img/heart-white.png" width="145px;" height="45"  style="width: 31px;height: 31px;margin-top: 7px;
       " /> 
       </button> 
        <p style="color:white;font-size: 21px;margin-top: 26px;left: 70px;position: absolute"> {{"Settings" | translate}}</p>
    </ion-header-bar>
<ion-content ng-controller="EventsCtrl" style="background: rgba(135,135,135,1);
background: -moz-linear-gradient(45deg, rgba(135,135,135,1) 0%, rgba(135,130,116,1) 51%, rgba(153,143,113,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(135,135,135,1)), color-stop(51%, rgba(135,130,116,1)), color-stop(100%, rgba(153,143,113,1)));
background: -webkit-linear-gradient(45deg, rgba(135,135,135,1) 0%, rgba(135,130,116,1) 51%, rgba(153,143,113,1) 100%);
background: -o-linear-gradient(45deg, rgba(135,135,135,1) 0%, rgba(135,130,116,1) 51%, rgba(153,143,113,1) 100%);
background: -ms-linear-gradient(45deg, rgba(135,135,135,1) 0%, rgba(135,130,116,1) 51%, rgba(153,143,113,1) 100%);
background: linear-gradient(45deg, rgba(135,135,135,1) 0%, rgba(135,130,116,1) 51%, rgba(153,143,113,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#998f71', GradientType=1 );height: 100%;margin-left:0 auto;margin-right:0 auto; background-color: transparent; border-radius: 5px;overflow: visible; " class="container">
    
    <div style="  background-color:#F7F7F7;height: auto;width: 270px;margin:0 auto; margin-top: 80px;overflow: visible;border-radius: 10px;"    scroll="false"> 
         <div style="height: 80px;width: 80px;border-radius: 50%;background-color: white ; margin-left:96px; ;margin-top: -30px;overflow: hidden;position: absolute">
                <img   style="height: 40px;width: 40px; margin-left: 20px;margin-top: 20px;  " src="img/settingsWhite.png" title="original"><br>      
         </div><br><br> <br>
              <div style="width:auto;text-align: center"> <p style="color: grey; margin-top: 10px ;margin-left: 2px;font-size: 17px;font-weight: bold">{{"Setings" | translate}}</p>  </div>
            
        <ion-toggle ng-change="notChange()"  style="background-color: transparent;height: 60px;width: 95%;border:none" ng-model="notification" >{{"rec_not" | translate}} </ion-toggle> 
        <p style="font-size: 16px;margin-left: 17px;"> {{"date" | translate}}</p>
          <a style="margin-left: 17px" ng-click="openDatePicker();"> {{from.substring(4,15)}} </a>/ <a ng-click="openDatePicker2();"> {{to.substring(4,15)}} </a>

        <ion-toggle ng-change="gpsChange()" style="background-color: transparent;height: 60px;width: 95%;border:none" ng-model="gps"  >GPS  {{"location" | translate}} </ion-toggle>  
           
             <p style="font-size: 16px;margin-left: 17px;"> {{"language" | translate}}</p>
               <label class="item item-input item-select select-godina" style="width: 260px; margin: 0px auto;height:40px;"> 
              <select  ng-change="selectLanguage(smjer)"  style=" width: 90%;left: -34px; height: 40px; overflow: visible;max-width:none;text-align: left;border-radius: 5%;" ng-model="smjer" ng-options="color.title as color.id for color in smjerovi"  >
  
 </select></label>
              <br><br>
        </div>
    </div>
      </ion-content>
     </ion-view>