<ion-view class="wrapper"  ng-controller="EventsCtrl">

    <ion-content  scroll="false" style="z-index:10;background-image: url('img/festice.jpg');text-align:center;">
        <img src="img/festice.jpg" style="height: 100%;width: 100%;position: absolute;left: 0px" />

        <br>

        <img style="  border-radius: 50%; width: 80px; margin-left: 30%;position: absolute;  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;margin-top: 30px" src="img/logoRound.jpg" width="80px;" height="80px" />
        <br> <br> <br> <br> <br> <br>  
        <h3 style=" position: absolute; border-radius: 50%;  margin:auto;color: white;  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; ">SUKOŠAN GUIDE</h3>

       <br/><br/>
        <div ng-click="openState('app.info')" style=" margin-top:40px; padding-left:20px;padding-right:20px;
  margin-left: auto; 
  margin-right: auto; ">
   <div   style="padding-top:60px; background-image: url('img/festice.jpg'); height: 90px;width: 100%;background-size: 100% 100%;text-align: center;  display:inline-block;margin-top:10px;margin-bottom:0px;"
      class="list  ">  
        
          <p style="color: white;text-align: left;margin-left:10px;font-size: 22px ">    Info
      
    </div> 
        </div>

              <div style="   padding-left:20px;padding-right:20px;
  margin-left: auto; 
  margin-right: auto; ">
   <div ng-click="openState('app.food')" style="padding-top:60px; background-image: url('img/festice.jpg'); height: 90px;width: 100%;background-size: 100% 100%;text-align: center;  display:inline-block;margin-top:10px;margin-bottom:0px;"
      class="list  ">  
        
          <p style="color: white;text-align: left;margin-left:10px;font-size: 22px ">    Food&Drinks
      
    </div> 
        </div>
 

              <div style="   padding-left:20px;padding-right:20px;
  margin-left: auto; 
  margin-right: auto; ">
   <div ng-click="openDatePicker()" style="padding-top:60px; background-image: url('img/festice.jpg'); height: 90px;width: 100%;background-size: 100% 100%;text-align: center;  display:inline-block;margin-top:10px;margin-bottom:0px;"
      class="list  ">  
        
          <p style="color: white;text-align: left;margin-left:10px;font-size: 22px ">    Services
      
    </div> 
        </div>


        
        

    </ion-content>
</ion-view>