<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.sukosan370901" version="0.0.1">
  <name>Sukošan</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="fvukovic@foi.hr" href="fvukovic@foi.hr">
    Filip Vuković
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <allow-navigation href="http://192.168.148.2:8100"/>
  <allow-navigation href="http://192.168.1.8:8100"/>
  <allow-navigation href="http://192.168.1.8:8101"/>
  <allow-navigation href="http://192.168.42.10:8100"/>
  <allow-navigation href="http://192.168.1.6:8100"/>
  <allow-navigation href="http://192.168.1.14:8100"/>
  <allow-navigation href="http://192.168.1.17:8100"/>
  <engine name="android" spec="^6.2.3"/>
  <plugin name="cordova-plugin-firebase" spec="~0.1.20"/>
  <plugin name="cordova-plugin-whitelist" spec="^1.3.2"/>
</widget>