.settingsButtons{ border-radius:3px;
	-webkit-border-radius:3px; 
    border-radius: 0px;
    margin: 9px;
    width: 50px;
    height: 40px;
    font-weight:normal;
	border:1px solid  dodgerblue;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:13px;
	text-decoration:none; 
    }
    .settingsButtonsDate{ border-radius:3px;
	-webkit-border-radius:3px;
	background-color: dodgerblue;
    border-radius: 0px;
    margin: 9px;
    width: 150px;
    height: 40px;
    font-weight:normal;
	border:1px solid dodgerblue; 
	cursor:pointer;
    display: inline;
	color:#D6D6D6;
	font-family:Arial;
	font-size:13px;
	text-decoration:none; 
    }

    .settingsFirstDiv{  
    height: 100px; 
    background-color: #D3F4F5;
}
    .settingsSecondDiv{  
    height: 180px;
    background-color: #D3F4F5; 
}
.dateLabel{
    width: 10px;
}

.grey {
   background-color: dodgerblue; 
   color: white;
}

.red {
  background-color: #D3F4F5; 
  color: black;
}
.green {
  background-color: #D3F4F5; 
  color: black;
}