/* Empty. Add your own CSS if you like */
.mynavbar{
  height: 130px !important;
}
.logo {
    float:left  !important;
}

.exit_text
{   
    color:white;
    margin-bottom: 20px;
    margin:15px; 
    font-size: 15px;
    display: inline; 

}


.exit_button1   
{ 
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #10520E;
    border-radius: 0px;
    margin: 9px;
    width: 92%;
    height: 37px;
    font-weight:normal;
	border:1px solid #10520E;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none; 
}
.exit_button 
{ 
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #9C1616;
    border-radius: 0px;
    margin: 9px;
    width: 92%;
    height: 37px;
    font-weight:normal;
	border:1px solid #9C1616;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none; 
}